.main-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(38, 70, 83);
}
.header-info{
    text-align: left;
    position: absolute;
    left: 20px;
    padding: 0;
    margin: 14px 30px 0px;
    color: rgb(244, 162, 97);
}
.header-icon{
    width: 40px;
    margin: 8px 15px;
    position: absolute;
}
.nav{
    position: absolute;
    right: 0;
    margin: 14px 30px 0px;
}
.nav a{
    color: rgb(244, 162, 97);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
#cars-body{
    background-image: url("image/racing streak stripe design.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#trucks-body{
    background-image: url("image/Clouds Clouds Moon Road Background Material.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#home-body{
    background-image: url("image/Cool wallpaper.jpg");
    background-size: cover
}
.section-slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
.image-slider{
    position: relative;
    width: 640px;
    height: 426px;
    z-index: 10;
}
.slide{
    width: 100%;
    position: absolute;
    clip-path: circle(0% at 0 50%);
    margin: 50px;
}
.slide-img{
    width: 55%;
    height: auto;
    border-radius: 15px;
}
.slide-text{
    position: absolute;
    bottom: 50px;
    left: 30px;
    background-color: rgba(220, 220, 220, 0.609);
    padding: 15px;
    border-radius: 10px;
}
.slide-text h2 {
    font-size: 30px;
    padding: 0;
    margin: 0;
}
.slide-text p{
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.navigation{
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.slider-btn{
    background-color: rgb(151, 151, 151);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}
.slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}
.slider-btn.active{
    background-color: rgb(38, 70, 83);
}
.all-vehicle{
    margin-top: 5%;
}
.vehicle-detail{
    margin: 50px 30px 100px;
    padding: 20px;
    border-radius: 5px;
    background-color: #7fe2e3;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vehicle-img{
    margin: 5px;
}
.vehicle-img img{
    width: 350px;
    height: auto;
    border-radius: 5px;
}
.vehicle-description{
    margin: 5px;
}
.vehicle-description h3{
    margin: 0 5px 5px;
    padding: 0;
    font-size: 23px;
}
.vehicle-description p{
    margin: 20px 5px;
    padding: 0;
    line-height: 1.8;
    text-indent: 40px;
    font-size: larger;
}
.vehicle-link p{
    text-indent: 0;
}
.vehicle-link a{
    color: cadetblue;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}
.vehicle-link a:visited{
    color: red;
}
.vehicle-link a:hover{
    color: purple;
}
.vehicle-table td{
    border: 2px solid gray;
    border-collapse: collapse;
    text-align: center;
    padding: 15px 20px 10px 20px;
    width: 200px;
}
.contact-container {
	display: flex;
	justify-content: flex-start;
}

.illustration-img {
	margin: 38px;
	width: 800px;
}

.contact {
	display: inline-block;
	margin: 10px 30px;
	text-align: center;
}

.profile-contact-img {
	width: 200px;
    margin: 50px;
}

/* style for container */
.form-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.input-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

/* style for icon input */
.icon {
	margin-right: 6px;
}

.fa-user,
.fa-map-marker-alt,
.fa-envelope-open,
.facomment {
	font-size: 27px;
}

/* style for label */
.form-label {
	position: absolute;
	left: 10px;
	top: 10px;
}

/* style for input name, city, and email */

.form-input {
	position: relative;
	width: 100%;
	border-bottom: 1px solid grey;
	outline: none;
	height: 48px;
	margin-bottom: 15px;
	padding: 0;
}

.input-item {
	position: absolute;
	top: 0;
	left: 0;
	border-style: none;
	outline: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	font-size: 15px;
	height: 100%;
}

/* style for input message with text area */
.textarea-container {
	display: flex;
	justify-content: center;
}

.form-textarea {
	position: relative;
}

.textarea {
	border-style: none;
	border-bottom: 1px solid grey;
	outline: none;
	margin-top: 10px;
}

/* style for submit */

.submit {
	border-style: none;
	border-radius: 25px;
	color: aliceblue;
	background-color: rgb(38, 70, 83);
	margin: 5px;
	cursor: pointer;
}

.input-item:focus + .form-label {
	top: -5px;
	left: -2px;
	font-size: 10px;
}
.textarea:focus + .form-label {
	top: -5px;
	left: -2px;
	font-size: 10px;
}

.input-item:not(:placeholder-shown).inputitem:not(:focus) + .form-label {
	top: -2px;
	left: -2px;
	font-size: 10px;
	color: rgb(138, 130, 130);
}
.site-for{
    text-align: center;
    color:  #f15959;
    font-family: 'Noto Serif';
    font-size: x-large;
}
.companies{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}
.company-logo{
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 3px gainsboro;
    border-radius: 5px;
    margin: 10px;
}
.company-logo img{
    width: 240px;
    height: auto;
}
.us{
    color:   #2c5af8;
    font-size: x-large;
    font-family: 'Oswalt';
    text-align: center;
}
.us a:visited{
    color: black;
}
.us a:hover{
    color:  #35f82c;
}